*{
    margin: 0;
    padding: 0;
}

.logo_link img {
    width: 150px;
}

.contact img {
    width: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#welcome-container {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#scrolling-text {
    margin-top: 3rem;
    font-size: 1.4rem;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}


  
@keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
  